.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  color: #f6f8f9;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background-color: #00bfa6;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 191, 166, 0.4);
}

.nav-links button {
  cursor: pointer;
  border: 2px solid #00bfa6;
  color: #00bfa6;
  background: transparent;
  padding: 0.6rem 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 191, 166, 0);
}

.nav-links button:focus {
  outline: none;
  /* box-shadow: 0 0 5px 3px rgba(0, 191, 166, 0.5); */
  box-shadow: 0 0 12px 4px rgba(0, 191, 166, 0.44);
}

.nav-links button:hover,
.nav-links button:active {
  background-color: #00bfa6;
  color: #ffffff;
  box-shadow: 0 6px 14px rgba(0, 191, 166, 0.4);
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background-color: #00bfa6;
    color: #ffffff;
    box-shadow: 0 6px 14px rgba(0, 191, 166, 0.4);
  }
}
